#head { padding: 20px; color: white; font-size: 18px; }
#head img { float:left; }

#left { float: left; width: 20%; margin-top: 10px;}

#right { float:left; width: 79%; margin-top: 10px;margind-left: 15px;}

#footer { boder: 3px black solid; background-color: #0000e6;  padding: 10px; text-align: center; height: 100px; color: white;}

body {font-family: verdana, sans-serif; background-color: #ececf9; padding: 15px; margin: 0px 50px 50px 25px;font-size:11;}
 

h1 { font-size: 175%; font-weight: normal; margin-bottom: 5px; color:#262626; font-weight: bold; font-family: Georgia, serif; text-align: center; }


#menu ul{ margin-left: -2.5em;}

#menu li{list-style-type: none; background-color:#0000e6; width:9em; float: right; text-align:center; color: white;}

#menu a { text-decoration: none; color: white; display: block; margin-left: 2px;}

#menu a:hover { color:  #000099; text-decoration: none; background-color: white; font-weight: bold; box-shadow: 3px 3px 3px 3px purple;}



#menu_left ul{ margin-left: -2.5em;}

#menu_left li{list-style-type: none; background-color:#0000e6; width: 15em; text-align:center; color: white; padding: 10px 10px 10px 10px;}

#menu_left a { text-decoration: none; color: white; display: block; margin-left: 2px; padding: 10px 10px 10px 10px;}

#menu_left a:hover { color:  #000099; text-decoration: none; background-color: white; font-weight: bold; box-shadow: 3px 3px 3px 3px purple;}



#button_center {text-align: center;}
#button_center .button { float: centerleft; padding: 5px 10px; font-size: 14px; cursor: pointer; text-align: center; margin-top: 10px;
          outline: none; color: #262626; background-color: #FFC300; border: 2px solid #FF8D33; border-radius: 4px; box-shadow: 0 5px #999;}
#button_center .button:hover {background-color: #FF8D33; color:#0000ff; border: 2px solid #FFC300;}
#button_center .button:active { background-color: #8383af; color:#cccccc; box-shadow: 0 5px #666; transform: translateY(4px);}
