    body {font-family: verdana, sans-serif; background-color: #ececf9; padding: 15px; margin: 0px 50px 50px 25px;}
	
    h1 { font-size: 200%; font-weight: normal; margin-top: 20px; margin-bottom: 5px; color:#262626; font-weight: bold; font-family: Georgia, serif; }

    h2 { font-size: 150%; font-weight: normal; margin-top: 20px; margin-bottom: 5px; color:#262626; font-weight: bold; font-family:"Trebuchet MS", Helvetica, sans-serif }

    h3 { font-size: 100%; font-weight: bold; margin-top: 20px; margin-bottom: 5px;color:#262626; font-family: verdana, sans-serif;}

    h4 { font-size: 90%; font-weight: normal; margin-top: 20px; margin-bottom: 5px; color:#262626; font-family: verdana, sans-serif; text-decoration: underline; }

    p {font-size:12px; font-color:black;}

    p.heavy { font-weight: bold; margin-top: 5px;font-family: verdana, sans-serif;}

    p.italic { font-weight: normal; margin-top: 5px;font-family: verdana, sans-serif;font-style: italic;}

    a { color: white; }
    a:active { background-color:  #b3b3cc;}
    a:hover { cursor: pointer; color: #33ff33;font-weight: bold;}
    a:visited { color: #800080;}

    .button { display: inline-block; padding: 10px 15px; font-size: 16px; cursor: pointer; text-align: center; margin-top: 10px;
              outline: none; color: #262626; background-color: #c1c1d7; border: 2px solid #a6a6a6; border-radius: 4px; box-shadow: 0 5px #999;}
    .button:hover {background-color: #666ff; color:#63639c;}
    .button:active { background-color: #8383af; color:#cccccc; box-shadow: 0 5px #666; transform: translateY(4px);}

    ul.a {list-style-type: square; font-color="black"; font-size:12px;}
    ul.b {list-style-type: circle;font-size:12px}
